  .flex-container{
            display: flex;
            flex-direction: row;
            border: 1px solid purple;
            justify-content: center;

        }
        .child{
          height: 250px;
          width: 250px;
          border-radius: 20px;
          background-color: aquamarine;
          border: 2px dotted black;
          margin: 10px;
          

        }
        